#app {
  display: flex;
  flex-direction: column;
}
main {
  width: 100%;
  height: calc(100% - 4rem);
  padding: 1rem 2rem;
  position: relative;

  h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
  }
}
main > section {
  overflow: auto;
  height: 100%;
}
